@{
    ViewData["Title"] = "Not Found";
}
<div class="row text-center">
    <h1 text-info>
        Sorry we couldn't find what you were looking for!
    </h1>
    <hr />
    <div class="col-md-6 offset-3">
        <a asp-controller="Movies" asp-action="Index" class="btn btn-outline-primary">Back to safety</a>
    </div>
</div>